$base: "kws-header"
.#{$base}
    height: var(--header--height)
    background: #fbfbfb
    &__pages
        display: flex
        align-items: center
        justify-content: center
        gap: 64px
        height: 100%
        width: 100%
        .#{$base}__page
            color: var(--color--text--default)