
.introduction
    width: 904px
    height: 302px
    margin: auto

    &__content
        margin: auto 72px
        color: white
        cursor: default
        overflow: hidden
        z-index: 3

        &:hover
            cursor: grab
        > *
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
