<div #carouselContainer
     class="kws-carousel"
     tabindex="0">
    <div class="kws-carousel__container">
        <ul #carouselList
            class=" kws-carousel__container__list"
            role="listbox"
            [style.flex-direction]="orientation === 'rtl' ? 'row-reverse' : 'row'">
            @for (slide of slidesList; track $index)
            {
                <li #carouselSlide
                    class="kws-carousel__container__list__slide"
                    role="option"
                    (panleft)="onPan($event, carouselSlide)"
                    (panright)="onPan($event, carouselSlide)"
                    (panend)="onPanEnd($event, carouselSlide)"
                    (pancancel)="onPanEnd($event, carouselSlide)">
                    <ng-container [ngTemplateOutlet]="slide.templateRef"></ng-container>
                </li>
            }

        </ul>
        @if (!hideArrows)
        {
            <button class="kws-carousel__container__arrow"
                    mat-icon-button
                    type="button"
                    tabindex="-1"
                    [color]="color"
                    (click)="previous()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button class="kws-carousel__container__arrow"
                    mat-icon-button
                    type="button"
                    tabindex="-1"
                    [color]="color"
                    (click)="next()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        }
    </div>
    @if (!hideIndicators)
    {
        <div class="kws-carousel__indicators"
             tabindex="-1"
             [style.flex-direction]="orientation === 'rtl' ? 'row-reverse' : 'row'">
             @for (slide of slidesList; track $index)
             {
                <div tabindex="-1"
                     [class.selected]="$index === currentIndex"
                     (click)="slideTo($index)"
                     (focus)="carouselContainer.focus()">
                </div>
             }
        </div>
    }
</div>